# Build artifacts
*.o
*.out
kernel
visionos

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE files
.vscode/
.idea/
*.iml

# Test images
*.jpg
*.png
*.jpeg
*.bmp
.venv/
*.pdf

# pytorch model files
*.pt

# Exclude images in the test_images/ directory from being ignored
!test_images/*.jpg
!test_images/*.png
!test_images/*.jpeg
!test_images/*.bmp